# Entorno virtual
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo

# Django
db.sqlite3
*.log
media/
staticfiles/

# Variables de entorno
.env

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db